<!-- nav -->


<!-- main app container -->

<div class="container row">
    <div  style="width: 40%;height:100% ;">
        <div class="col-sm col-md-30">         
                <div class="btn-group-vertical" *ngIf="user">
                      <button  class="btn btn-outline-info" [routerLink]="'/secRefresh'">Security Refresh</button>
                      <button class="btn btn-outline-info" [routerLink]="'/accountSecRefresh'">Account Security Refresh</button>
                      <button  class="btn btn-outline-info" [routerLink]="'/adminRefresh'">Admin Refresh</button>
                      <button  class="btn btn-outline-info" [routerLink]="'/cotUpdate'">COT Update</button>
                      <button  class="btn btn-outline-info"  (click)="logout()" >Logout</button>
                </div>
        </div>
     </div>             
    
     <div style="width: 60%;height:100%">
        <div class=" col-sm col-md-70">
            <div>
                
                <router-outlet></router-outlet>
            </div>
        </div>
     </div> 
    </div>   